.card {
    border: 2px solid gray;
    width: 310px;
    padding: 10px;
    position: relative;
    height: 450px;
}


.card img {
    width: 300px;
    height: 200px;
    border-radius: 5px;
}

.card-btn {
    width: 100%;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 8px;
    font-weight: 600;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.card-info p {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif
}

@media screen and (max-width:620px) {
    .card {
        width: 100%;
    }

    .card img {
        width: 100%;
    }
}

@media screen and (min-width:620px) and (max-width:1100px) {
    .card {
        width: 100%;
    }

    .card img {
        width: 100%;
    }
}